body {
    .main {
        height: 100%;
        width: 100%;

        .sidebar {
            width: 20%;
            background-color: aqua;
        }

        .content {
            background-color: bisque;
        }
    }
}
